---
layout: default
title: Home
---

<div class="warning">

<h1 class="master">Impressum und Recht</h1>

 
 
<h3 class="master">Pflichtangaben gemäß § 6 TDG</h3>

<h5 class="master">Anbieter der Webinhalte</h5>

Anbieter dieser Internet Präsenz ist im Rechtssinne

<h5  class="master">Adresse</h5>
Trude von Richthofen<br>
Feenweg 666<br>
X-12345 Mittelerde<br>

<h5 class="master">Haftungsausschluß</h5>
Die auf dieser Seite veröffentlichten Informationen wurden mit Sorgfalt erstellt und ausgewählt. Sollte uns dennoch ein Fehler unterlaufen sein, bedauern wir dies, können für diesen Fall aber keine Haftung übernehmen. Wir haben auf unserer Homepage Links zu anderen Seiten im Internet gelegt. Für all diese Links möchten wir ausdrücklich betonen, dass wir keinerlei Einfluss auf die Gestaltung und die Inhalte der gelinkten Seiten haben. Mit Urteil vom 12. Mai 1998 hat das Landgericht Hamburg entschieden, dass man durch die Ausbringung eines Links die Inhalte der gelinkten Seite ggf. mit zu verantworten hat. Dies kann, so das Landgericht Hamburg, nur dadurch verhindert werden, dass man sich ausdrücklich von diesen Inhalten distanziert. Wir übernehmen für diese keinerlei Haftung.
<h5 class="master">Urheberrecht</h5>

Der Inhalt dieser Website praxis-plückelmann.de ist nur für persönliche Information bestimmt. Jede weitergehende Verwendung, insbesondere die Speicherung, Veröffentlichung, Vervielfältigung und jede Form von gewerblicher Nutzung sowie die Weitergabe an Dritte, auch in Teilen oder in veränderter Form, ist ohne unsere schriftliche Zustimmung untersagt.

<h5 class="master">Rechtsform</h5>

Berufsausuebungsgemeinschaft.

<h5 class="master">Hosting</h5>

Domain Factory (www.domainfactory.de)

<h5 class="master">Rechtliche Hinweise zur Haftung / Disclaimer</h5>

Für Vollständigkeit, Fehler redaktioneller und technischer Art, Auslassungen usw. sowie die Richtigkeit der Inhalte wird keine Haftung übernommen. Insbesondere wird keine Gewähr für die Vollständigkeit und Richtigkeit von Informationen übernommen, die über weiterführende Links erreicht werden. Unsere Homepage enthält Links zu anderen Webseiten, die ihrerseits wiederum Links zu Seiten im Internet enthalten, auf deren Gestaltung und Inhalte wir keinerlei Einfluss haben. Wir distanzieren uns hiermit ausdrücklich von allen über Links zu externen Internet Seiten verfügbaren Inhalten, die gegen geltendes Recht verstossen und machen sie uns nicht zu Eigen. Falls Links in unseren Webseiten auf derartige Inhalte verweisen, bitten wir um Mitteilung, damit wir sie umgehend entfernen können.

<h5 class="master">Datenschutzbestimmungen:</h5>

Umgang mit personenbezogenen Daten:<br>

Wir nehmen den Schutz Ihrer personenbezogenen Daten sehr ernst. Wir verpflichten uns, die Privatsphäre aller Personen zu schätzen, die seine Webseiten nutzen, und evtl. überlassene personenbezogene Daten vertraulich zu behandeln. Die Daten werden ausschliesslich für die jeweils angegebenen Zwecke verwendet und nicht an Dritte weitergegeben. Sie werden gelöscht, sobald sie dem angegebenen Zweck gedient haben.



<h5 class="master">Cookies:</h5>

Zur Erleichterung der Navigation werden u. U. Cookies auf Ihrer Festplatte hinterlegt. Sie können das Speichern von Cookies verhindern, indem Sie in Ihren Browser-Einstellungen  "keine Cookies akzeptieren" wählen. Wie das im einzelnen funktioniert, entnehmen Sie bitte der Anleitung Ihres Browser-Herstellers. Wenn Sie keine Cookies akzeptieren, kann dieses zu Funktionseinschränkungen führen.



<h5 class="master">Verwendung von Daten:</h5>

Ihre Web-Browser- oder Client-Software überträgt möglicherweise ohne Ihr Zutun Informationen über Ihren Rechner (beispielsweise IP-Adresse) an unsere Server. Derartige Informationen werden niemals direkt mit Ihnen in Verbindung gebracht, sondern nur in anonymer Form für Zwecke der Statistik, der Systemverwaltung oder der Verbesserung der Leistungsfähigkeit unseres Internet-Angebotes ausgewertet.

</div>
