---
layout: default
title: Home
---
<div class="warning">

<h2 class="master">Was Sie noch wissen sollten!</h2>

<h3 class="master">Sie verreisen ... </h3>

<table class="pic_box">
<tr><td class="pic_box">
<img  class="pic_box" src=/assets/images/travel.jpg>
</td>
<td class="pic_box">
Text Text Text
</td>
</tr></table>
<h4 class="master">List of things : </h4>
<ul>
<li>dies
<li>das
<li>und dies und das.
</ul>
<h4 class="master">Und dann noch</h4>
<ul>
<li>Bullet 1
<li>Bullet 2
</ul>
 
</div>
