<div class="address_info">

Trude von Richthofen<br>
Rechtsverdreher<br>
<br>

Feenweg 105<br>
12345 Mittelerde<br>
<br>
Tel: (040) 132435<br>
Fax: (040) 354657<br>
<br>
<br>

Öffnungszeiten<br>
(Termine nur nach Vereinbarung)<br>
<br>
<div class="timetable">
<table class="timetable">
<tr><td colspan=2>Montag</td></tr> 
<tr><td class="timetable">8:30 - 12:00</td></tr><tr><td class="timetable">16:00 - 18:00</td></tr>
<tr><td colspan=2>Dienstag</td></tr> 
<tr><td class="timetable">8:30 - 12:00</td></tr><tr><td class="timetable">16:00 - 18:00</td></tr>
<tr><td colspan=2>Mittag</td></tr> 
<tr><td class="timetable">8:30 - 12:00</td></tr>
<tr><td colspan=2>Donnerstag</td></tr> 
<tr><td class="timetable">8:30 - 12:00</td></tr><tr><td class="timetable">16:00 - 18:00</td></tr>
<tr><td colspan=2>Freitag</td></tr> 
<tr><td class="timetable">8:30 - 11:00</td></tr>
</table>
</div>
<hr>
We spead french.
</div>

